{% extends "base.html" %}
{% block title %}Petition Info{% endblock %}

{% block content %}
<form method="POST" action="{% url 'petition:petition_form' %}">
{% csrf_token %}
{{ form.name.as_hidden }}{{ form.aliases.as_hidden }}{{ form.dob.as_hidden }}
{{ form.street1.as_hidden }}{{ form.street2.as_hidden}}
{{ form.city.as_hidden }}{{ form.state.as_hidden }}{{ form.zipcode.as_hidden }}
{{ form.ssn.as_hidden }}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p class="error">{{ field.name }}: {{ error|escape }}</p>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
            <p class="error">{{ error|escape }}</p>
    {% endfor %}
{% endif %}
<p>{{ form.date.label }} <input id="date" name="date" type="date" value="{{ form.date.value }}"/></p>
<p>{{ form.petition_type.label }} {{ form.petition_type }}</p>
<p>{{ form.otn.label }} {{ form.otn }}</p>
<p>{{ form.dc.label }} {{ form.dc }}</p>
<p>{{ form.arrest_date.label }} <input id="arrest_date" name="arrest_date" type="date" value="{{ form.arrest_date.value }}"/></p>
<p>{{ form.arrest_officer.label }} {{ form.arrest_officer }}</p>
<p>{{ form.disposition.label }} {{ form.disposition }}</p>
<p>{{ form.judge.label }} {{ form.judge }}</p>
<p>{{ form.docket_id.label }} {{ form.docket_id }}</p>
<p>{{ form.restitution_total.label }} {{ form.restitution_total }}</p>
<p>{{ form.restitution_paid.label }} {{ form.restitution_paid }}</p>
<button type="submit">Submit</button>

</form>
{% endblock %}
